<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/checkIO">
            <div class=" img-dash">
                <img src="/img/logo.jpg" alt="logo_ks">
                <!-- <i class="fas fa-laugh-wink"></i> -->
            </div>
            <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Danh mục
        </div>


        <!-- Nav Item - Taophieucheckin_out -->
        <li class="nav-item">
            <a class="nav-link" href="/checkIO">
                <i class="fas fa-fw fa-table"></i>
                <span> Phiếu check In - Out</span></a>
        </li>

        <!-- Nav Item - Taobaocaodaohthu -->
        <li class="nav-item">
            <a class="nav-link" href="/createIO">
                <i class="fas fa-fw fa-table"></i>
                <span>Tạo phiếu check In - Out</span></a>
        </li>

        <!-- Nav Item - Danh sách hóa đơn -->
        <li class="nav-item">
            <a class="nav-link" href="/listBill">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách hóa đơn</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/bookingRoom">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách đặt phòng</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/roommanager/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách phòng</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/serviceTab">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách dịch vụ</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/promotionTab">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách khuyến mãi</span></a>
        </li>

        <!-- Nav Item - Danh sách phản hồi -->
        <li class="nav-item">
            <a class="nav-link" href="/feedback/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách phản hồi</span></a>
        </li>


        <!-- Nav Item - Danh sách nhân viên -->
        <li class="nav-item">
            <a class="nav-link" href="/employee/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách nhân viên</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>

                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">

                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Lê Mai Khánh</span>
                        <img class="img-profile rounded-circle" src="/img/ava/kasle.jpg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                        {{!-- <div class="dropdown-divider"></div> --}}

                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-flex justify-content-between">
                            <h6 style="font-weight: bolder; font-size:25px;" class="m-0 text-primary">Danh sách dịch vụ
                            </h6>
                            <!-- Search section -->
                            <form action="">
                                <div class="input-group">
                                    <input style="width:700px" type="text" name="q" class="form-control mr-6 w-10"
                                        placeholder="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã dịch vụ</th>
                                        <th>Loại dịch vụ</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Giá dịch vụ</th>
                                        <th>Mô tả</th>
                                        <th>Chỉnh sửa dịch vụ</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each service}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{this.madv}}</td>
                                        <td>{{this.loaidv}}</td>
                                        <td>{{this.tendv}}</td>
                                        <td>{{this.giadv}}</td>
                                        <td>{{this.motadv}}</td>
                                        <td><a href="/serviceTab/{{this._id}}/edit">
                                                <button type="submit" class="btn btn-info btn-fill">Chỉnh sửa</button>
                                        </td>
                                        <td><a><button class="btn btn-info btn-fill pull-right" data-toggle="modal"
                                                    data-id="{{this._id}}"
                                                    data-target="#delete-service-modal">Xoá</button></a> </td>ss
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-flex justify-content-between">
                            <h6 style="font-weight: bolder; font-size:20px;" class="m-0 text-primary">Tạo dịch vụ mới
                            </h6>
                            <!-- Search section -->
                            {{!-- <form action="/???????">
                                <div class="input-group">
                                    <input style="width:700px" type="text" name="q" class="form-control mr-6 w-10"
                                        placeholder="Search">
                                </div>
                            </form> --}}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Mã dịch vụ</th>
                                        <th>Loại dịch vụ</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Giá dịch vụ</th>
                                        <th>Mô tả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--Form store database-->
                                        <form method="POST" action="/serviceTab/storeServiceTab">
                                            <td><input type="text" name="madv" class="form-control"
                                                    placeholder="Nhập mã dịch vụ"></td>
                                            <td><input type="text" name="loaidv" class="form-control"
                                                    placeholder="Nhập loại dịch vụ"></td>
                                            <td><input type="text" name="tendv" class="form-control"
                                                    placeholder="Nhập tên dịch vụ"></td>
                                            <td><input type="text" name="giadv" class="form-control"
                                                    placeholder="Nhập giá dịch vụ"></td>
                                            <td><input type="text" name="motadv" class="form-control"
                                                    placeholder="Nhập mô tả dịch vụ"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <td><button type="submit" class="btn btn-info btn-fill">Tạo dịch vụ</button></td>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>



        {{!-- Confirm delete service --}}
        <div id="delete-service-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa dịch vụ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn xóa dịch vụ này?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-delete-service" type="button" class="btn btn-danger">Xóa bỏ</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

                    </div>
                </div>
            </div>
        </div>

        {{!-- Delete hidden form --}}
        <form name="delete-service-form" method="POST"></form>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var serviceId;
                var deleteForm = document.forms['delete-service-form'];
                var btnDeleteService = document.getElementById('btn-delete-service');

                //Khi dialog confirm clicked
                $('#delete-service-modal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    serviceId = button.data('id');
                });

                btnDeleteService.onclick = function () {
                    deleteForm.action = '/serviceTab/' + serviceId + '?_method=DELETE';
                    deleteForm.submit();
                }

            });
        </script>